footer{
    clear: both;
}
[data-icon]:before{
    content:attr(data-icon);
    -webkit-font-smoothing:antialiased;
}

a{
    text-decoration:none;
    transition:all .2s linear;
}

.clear{ clear:both; }

#main{
    background-color: #FFFFFF;
    padding: 200px 0 500px;
    position: relative;
    text-align: center;
    z-index: 1;
}

footer{
    background-color:#2E3639;
    position:relative;
    z-index:1;
}

footer .splitter{
    background-color:#ac0;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent),
    color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)),
    color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent),
    to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
    transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
    transparent 75%, transparent);
    background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
    transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
    transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
    transparent 75%, transparent);
    background-size:50px 50px;
    box-shadow:1px 1px 8px gray;
    height:20px;
}

/* Three columns */

footer > ul{
    list-style:none outside none;
    margin:0 auto;
    max-width:1200px;
    overflow:hidden;
    padding:25px 0;
    position:relative;
    width:95%;
}

footer > ul li{
    float:left;
    padding:20px 15px;
    width:33.3%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

footer > ul li:first-child{
    padding-left:0;
}

footer > ul li:nth-child(3){padding-right:0;}

footer > ul li .icon{
    color:#999999;
    float:left;
    font-size:80px;
    line-height:80px;
}

footer > ul li .text{
    color:#848889;
    font-size:13px;
    line-height:20px;
    margin-left:105px;
    position:relative;
    text-align:justify;
}
.textbox{
    padding: 20px 35px;
    text-align: justify;
    line-height: 25px;
    color: #cccccc;
}

.textbox h4{
    color:#ffffff;
    font-size:24px;
    font-weight:bold;
    margin-bottom:10px;
}

.textbox a{
    border-bottom:1px dotted transparent;
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-weight:bold;
}

.textbox a:hover{
    border-color:#FFDD00;
}

/* bar section */

footer .bar{
    background-color:#1E2629;
    padding:20px 0;
}

footer .bar-wrap{
    font-size:12px;
    margin:0 auto;
    max-width:1200px;
    position:relative;
    width:95%;
}

.links{
    float:left;
    list-style:none outside none;
    position:relative;
}

.links li{
    float:left;
    margin-right:10px;
}

.links a{ color:#778888;}

.links a:hover{color:#FFFFFF;}

/* Responsive */

@media screen and (max-width:1000px){
    .links, .copyright{
        float:none;
        text-align:center;
    }

    .links li{
        display:inline-block;
        float:none;
    }

    .bar{
        position:relative;
    }

    .bar-wrap{
        margin-bottom:0;
    }
}

@media screen and (max-width: 835px)  {
    footer > ul li {
        float:none;
        width:auto;
    }
}

@media screen and (max-width: 768px)  {
    .links li {
        margin-right:5px;
    }
}