.list-button {
    position: relative;
    width: 30%;
    display: inline-block;
    margin-right: 40px;
}

.image {
    opacity: 1;
    display: block;
    height: 350px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.list-button:hover .image {
    opacity: 0.3;
}

.list-button:hover .middle {
    opacity: 1;
}

.text {
    padding: 20px 35px;
    background: black;
}

.text a {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.text a:hover {
    text-decoration: underline;
}

img {
    vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container-slide {
    position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

.column img {
    margin-left: 0px;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-right: 20px;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

.list-button p{
    background: #1ab188 !important;;
    color: white;
    padding: 15px 20px;
    text-align: center;
    border-radius: 30px 30px 0px 0px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}